ul{
list-style-type: none;
padding-left: 0px;

}

body{
  background-image: url(dark_wood.png);
}

a{
  color: white;
  font-weight: bold;
  font-size: 24px;
}
#Header h1{
  font-size: 60px;
  font-family: "Passion One"
  color:#FFBC00;
  font-weight: bold;
}

div{
  background-color: #8E41D5;
}

h3{
  color:#FFBC00;
  font-size: 40px;
  margin-bottom: 0px;
  font-family: "Passion One"

}
p{
  font-weight: bold;
  color: white;
  font-family: Arial;
}


#Header{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid 8px black;
  text-align:center;
}

#LeftNav{
  float: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid 8px black;
  text-align:center;
  padding-bottom: 8px;
}

#Content{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid 8px black;
  text-align:center;
  padding:15px;
}

#Footer{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid 8px black;
  text-align:center;
}
